<style>

</style>

<!-- el contorno del loader se ve, el observador funciona con los 5 seg, pero no he podido hacer que el spinning se muestre, idkw-->
<app-app-loader></app-app-loader>

<div [ngClass]=" loader ? 'cargando' : ''">
  <mat-grid-tile-header cols="2" rowHeight="2:2"> <app-header></app-header> </mat-grid-tile-header>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background-color: aqua;"><app-banner-left></app-banner-left></mat-grid-tile> <!-- INTERPOLATION -->
    <mat-grid-tile style="background-color:chocolate;"><app-banner-right></app-banner-right></mat-grid-tile>
  </mat-grid-list>
  <app-body></app-body>


  <ul>
    <li *ngFor="let variable of valores">{{variable.name}}</li>
  </ul>
  <button mat-button (click)="funcionejemplo()">Detonar</button>
  <button mat-button *ngIf="false" (click)="funcionejemplo()">Salvar</button>

  <div style="text-align: center;">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
    <label for="url">Url</label>
    <input type="text" id="url" formControlName="url">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">

    <button mat-raised-button type="submit"> Agregar </button>
  </form>
  </div>
  <mat-grid-tile-footer cols="2" rowHeight="2:2">
    <app-footer></app-footer>
  </mat-grid-tile-footer>
</div>
<router-outlet><router-outlet />